* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-family: regularS, arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #1B1C1D;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: none;
}

.product-list-spacing {
    position: relative;
    z-index: 1;
    width: calc(100% - 290px);
    float: right;
    margin-top: 50px;
    display: inline-block;
}

:focus {
    outline: none;
}


.product-list{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: baseline;
    width: 77%;
    padding: 0px;
    
}

.box-spaceing {
    border: 1px solid #323334;
    position: relative;
    padding-bottom: 120px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    background-color: #161617;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 290px;
}

.box-spaceing:hover {
    
    border: 0.1px solid rgba(0, 255, 0, 0.5) ;
    transition: 0.3s ease;
    -webkit-transition: all 0.3s ease;

} 



.card-list {
    width: 33.333%;
    padding: 0 8px 16px 8px;
    min-height: 100px;
    position: relative;
    z-index: 1;
    height: auto;
    width: 292.656px;
    height: 731.594px;
    font-size: 12px;
    margin: 25px;
    
}

.d-flex .Descriptions-box {
    flex-direction: column;
}

.Descriptions-box{
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    margin: 0;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  
}

.compare-box {
    position: relative;
    z-index: 3;
    background-color: #000;
    border-bottom: 1px solid #323334;
    border-top: 1px solid #323334;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: #a4a4a5;
  
}

.images {
    position: relative;
}
.image {
    position: relative;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.price-addBasket  {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 20px 20px 20px ;
    align-items: flex-start;
}

a{
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    outline: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:link{
    text-decoration: none;
}

.Descriptions > ul  {
    flex-direction: column;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0.4;
    list-style: circle ;
    list-style-type:disc;
    width: 100%;
    padding-left: 20px;
    margin-top: 5px;
}
.title-spaceing{
    width: 100%;
}


.Descriptions > ul > li {
    position: relative;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    list-style-position: inside;
    color: #a4a4a5;
    opacity: 1;
    width: 100%;
    height: auto;
    font-size: 14px;    
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.Descriptions li:nth-of-type(n+7){
    display: none;
}


.product-title {
    /* max-height: 45px;
    min-height: 45px; */
    margin-top: 30px;
    margin-left: 34px;
    display: block;
    font-size: 18px;
    line-height: 1.25;
    color: #fff;
    font-family: "regularS";
    font-weight: normal;
}
.compare-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #a4a4a5;
    padding: 7px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.addBasket {
    border: 1px solid lime;
    color: white;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    width: 252px;
    height: 50px;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-family: "mediumS";
    
    
}

.addBasket:hover {
    background-color: lime;
    color: black;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.Descriptions {
    font-family: "regularS";
    margin-bottom: 20px;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 1.83;
    color: #a4a4a5;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;

}

.salePrice {
    flex: 100%;
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    margin-top: 10px;
    font-family: "open_sansbold";
    display: flex;
    align-items: flex-start;   
    flex-direction: column;
    padding-bottom: 15px;

}

.BasketSpacing {
    flex: 1;
    padding-top: 20px;
}

.containerTest {
    border: 2px solid red;
    width: 250px;
    position: relative;
    height: 900px;
    margin-top: 25px;
    position: sticky;
    top: 20px;

}


.col-left {
    float: left;
    display: flex;
}

.taksit {
    display: block;
    margin-block: 10px;
    font-size: 11.50px;
    color: #00ff00;
    white-space: break-spaces;
    margin-top: 2px;

}